/* .edit{
    top:-60px;
    bottom: auto;
} */

/* #backbg
{
    background-image: url(https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    
} */

#content{
    left: 50px;
}
