
.input-group{
    border-radius: 10px;
}

.form-control
{
    text-align: center;
    color: cyan;
    padding-left: 10px;
}
.input-group-addon
{
    padding-right: 20px;
}

#user
{
    
    border-radius: 10px;
}
#pass
{
   border-radius: 10px;
}
#email
{
    border-radius: 10px;
}
#btn
{
    position: relative;
    left:170px;
}
h2{
    position: relative;
    left: 30px;
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
 
}
.row
{
    position: relative;
    top: 100px;
}